# ---- PostgreSQL ----
PG_HOST=your.postgres.host
PG_PORT=5432
PG_DB=core_banking
PG_SCHEMA=public
PG_USER=your_postgres_username
PG_PASSWORD=your_postgres_password

# ---- BigQuery ----
GCP_PROJECT_ID=your-gcp-project-id
BQ_DATASET=bronze_core_banking
BQ_LOCATION=asia-southeast1


# ---- Pipeline ----
SOURCE_SYSTEM=core_banking_postgres
CHUNK_SIZE=50000